@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.card-header{
    height: 80px;
}

.card-img-top {
    width: 100%;
    height: 35vw;
}

header{
 font-family: 'Montserrat', sans-serif;
 font-size: 18px;
 font-weight: bold;
}

h5 {
    font-style: italic;
}

@media (max-width: 1000px) {
    .card-header{
        height: 70px;
    }
    header{
        font-size: 15px;
    }
    .card-img-top {
        height: 75vw;
    }
    .container {
        flex-direction: column;
    }
}

/* @media (max-width: 1200px) {
    .card-img-top {
        height: 50vw;
    }
} */



